body, p, a {
    margin: 0;
    padding: 0;
}
body {
	background-color: #050505;
	padding: 30px;
    height: 100%;
}
h1 {
    color: #800000;
    text-align:center;
    font-size: 3em;
}
p {
	font-size: 1.2em;
	color: #800000;
    padding-bottom: 20px;
}
body a {
	color: #a00000;
	text-decoration: none;
}
#footer {
    margin-top: 180px;
}
.star {
    width: 100px;
    margin: 0 auto;
    display: block;
}
h6{
	color: #800000;
}
